<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>projetWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AjouterServletEl</servlet-name>
    <servlet-class>fr.zarbi.servlet.Eleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterServletEl</servlet-name>
    <url-pattern>/Eleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterServletCo</servlet-name>
    <servlet-class>fr.zarbi.servlet.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterServletCo</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterServletSess</servlet-name>
    <servlet-class>fr.zarbi.servlet.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterServletSess</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterServletCook</servlet-name>
    <servlet-class>fr.zarbi.servlet.Kookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterServletCook</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterServletConv</servlet-name>
    <servlet-class>fr.zarbi.servlet.ConverterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterServletConv</servlet-name>
    <url-pattern>/ConverterServlet</url-pattern>
  </servlet-mapping>
  <filter>
		<filter-name>ClickCounterFilter</filter-name>
		<filter-class>fr.zarbi.filter.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ClickCounterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>